.DS_Store
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

backend/data/*
!backend/data/stock_data/0000.T.csv
!backend/data/stock_data/0001.T.csv
backend/jupyter
backend/go/
backend/__pycache__/
backend/database.py